/books
__pycache__
*.pyc
*.env
venv
node_modules


# !important.txt  will not be ignored
# /main.py  will ignore a main.py in the root directory, but not in any subdirectories




# Ignore things that can be generated (e.g. compiled code, minified files, etc.)
# Ignore dependencies (e.g. node_modules, venv, packages, etc.)
# Ignore things that are personal or specific to how you like to work (e.g. editor settings)
# Ignore things that are sensitive or dangerous (e.g. .env files, passwords, API keys, etc.)